body {
  background-color: hsl(216, 12%, 8%);
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.rating-card,
.thank-you-card {
  box-sizing: border-box;
  background-color: hsl(213, 19%, 18%);
  width: 490px;
  margin: auto;
  margin-top: 100px;
  color: hsl(217, 12%, 63%);
  padding: 40px;
  border-radius: 25px;
}

.invisible {
  display: none;
}

.text {
  font-size: 18px;
  margin-top: 0;
  line-height: 28px;
}

.title {
  color: hsl(0, 100%, 100%);
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 15px;
}

.icon-star-container-row {
  display: flex;
  justify-content: start;
  align-items: center;
}

.icon-star-container {
  background-color: hsl(223, 5%, 26%);
  border-radius: 60px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-star {
  width: 40%;
  height: 40%;
}

.ratings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 60px;
  width: 30px;
  height: 30px;
  font-weight: 600;
  font-size: 20px;
}

.rating-not-selected {
  background-color: hsl(223, 5%, 26%);
  color: hsl(217, 12%, 63%);
}

.rating-selected {
  background-color: hsl(0, 100%, 100%);
  color: hsl(213, 19%, 18%);
}

.submit-btn {
  width: 100%;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 50px;
  font-weight: 600;
  letter-spacing: 2px;
  border: none;
}

.btn-enabled {
  background-color: hsl(25, 97%, 53%);
}

.btn-disabled {
  background-color: hsl(223, 5%, 26%);
}

.thank-you-card .text,
.thank-you-card .title,
.user-rating {
  text-align: center;
}

.illustration-thank-you-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-rating-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-rating {
  margin-top: 40px;
  background-color: hsl(223, 5%, 26%);
  color: hsl(25, 97%, 53%);
  padding-top: 7px;
  padding-bottom: 7px;
  width: 225px;
  border-radius: 100px;
}

.illustration-thank-you {
  width: 200px;
  height: auto;
}

.btn-enabled:hover {
  cursor: pointer;
  background-color: hsl(0, 100%, 100%);
}

.rating-not-selected:hover {
  cursor: pointer;
  background-color: hsl(25, 97%, 53%);
  color: hsl(213, 19%, 18%);
}

.rating-selected:hover {
  cursor: pointer;
  color: hsl(213, 19%, 18%);
}

@media (max-width: 550px) {

  .rating-card,
  .thank-you-card {
    width: calc(100% - 60px);
    margin-left: 30px;
    margin-right: 30px;
    padding: 30px;
  }
}

@media (max-width: 500px) {
  .text {
    font-size: 16px;
  }

  .title {
    font-size: 28px;
  }

  .rating {
    width: 25px;
    height: 25px;
    font-size: 18px;
  }

  .icon-star-container {
    width: 45px;
    height: 45px;
  }

  .rating-card,
  .thank-you-card {
    width: 440px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
  }
}

@media (max-width: 480px) {

  .rating-card,
  .thank-you-card {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 420px) {
  .text {
    font-size: 15px;
  }

  .title {
    font-size: 26px;
  }

  .rating {
    width: 20px;
    height: 20px;
    font-size: 16px;
  }
}

@media (max-width: 390px) {
  .rating {
    width: 15px;
    height: 15px;
    font-size: 16px;
  }

  .rating-card,
  .thank-you-card {
    padding: 20px;
  }
}